.timer-completed {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.timer-completed-wrapper {
  display: flex;
  justify-content: center;
}

.timer-button {
  background-color: #FFBA00 !important;
  margin: 2% 0 !important;
  width: 40% !important;
  height: 5rem !important;
  font-weight: bold !important;
  font-size: 140% !important;
}

.timer-button:hover {
  background-color: #B22222 !important;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: 80vh;
}


#countdown {

  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
}


#countdown::after {

  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font: 5em/2 ubuntu mono, consolas, monaco, monospace;
  animation: num 20s steps(1);
  content: "0:" counter(s, decimal-leading-zero);
}

@keyframes num {
  0% {
    counter-reset: s 20;
  }

  5% {
    counter-reset: s 19;
  }

  10% {
    counter-reset: s 18;
  }

  15% {
    counter-reset: s 17;
  }

  20% {
    counter-reset: s 16;
  }

  25% {
    counter-reset: s 15;
  }

  30% {
    counter-reset: s 14;
  }

  35% {
    counter-reset: s 13;
  }

  40% {
    counter-reset: s 12;
  }

  45% {
    counter-reset: s 11;
  }

  50% {
    counter-reset: s 10;
  }

  55% {
    counter-reset: s 9;
  }

  60% {
    counter-reset: s 8;
  }

  65% {
    counter-reset: s 7;
  }

  70% {
    counter-reset: s 6;
  }

  75% {
    counter-reset: s 5;
  }

  80% {
    counter-reset: s 4;
  }

  85% {
    counter-reset: s 3;
  }

  90% {
    counter-reset: s 2;
  }

  95% {
    counter-reset: s 1;
  }

  100% {
    counter-reset: s 0;
  }
}

svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}

[r]+[r] {
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke: #8a9b0f;
  animation: arc 20s linear;
  animation-name: arc, col;
}

@keyframes arc {
  0% {
    stroke-dashoffset: 0px;
  }
}

@keyframes col {
  0% {
    stroke: #8a9b0f;
  }

  25% {
    stroke: #f8ca00;
  }

  50% {
    stroke: #e97f02;
  }

  75% {
    stroke: #bd1550;
  }

  100% {
    stroke: #490a3d;
  }
}


/* timer 2 */
#countdown2 {
  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
}
#countdown2::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font: 5em/2 ubuntu mono, consolas, monaco, monospace;
  animation: num2 30s steps(1) infinite;
  content: "0:" counter(s, decimal-leading-zero);
}

@keyframes num2 {
  0% {
    counter-reset: s 30;
  }
  2% {
    counter-reset: s 29;
  }
  5% {
    counter-reset: s 28;
  }
  8% {
    counter-reset: s 27;
  }
  10% {
    counter-reset: s 26;
  }
  14% {
    counter-reset: s 25;
  }
  17% {
    counter-reset: s 24;
  }
  20% {
    counter-reset: s 23;
  }
  23% {
    counter-reset: s 22;
  }
  26% {
    counter-reset: s 21;
  }
  29% {
    counter-reset: s 20;
  }
  32% {
    counter-reset: s 19;
  }
  35% {
    counter-reset: s 18;
  }
  37% {
    counter-reset: s 17;
  }
  44% {
    counter-reset: s 16;
  }
  47% {
    counter-reset: s 15;
  }
  50% {
    counter-reset: s 14;
  }
  55% {
    counter-reset: s 13;
  }
  59% {
    counter-reset: s 12;
  }
  64% {
    counter-reset: s 11;
  }
  69% {
    counter-reset: s 10;
  }
  74% {
    counter-reset: s 9;
  }
  77% {
    counter-reset: s 8;
  }
  80% {
    counter-reset: s 7;
  }
  83% {
    counter-reset: s 6;
  }
  85% {
    counter-reset: s 5;
  }
  89% {
    counter-reset: s 4;
  }
  92% {
    counter-reset: s 3;
  }
  95% {
    counter-reset: s 2;
  }
  98% {
    counter-reset: s 1;
  }
  100% {
    counter-reset: s 0;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke: #8a9b0f;
  animation: arc2 30s linear infinite;
  animation-name: arc2, col2;
}

@keyframes arc2 {
  0% {
    stroke-dashoffset: 0px;
  }
}
@keyframes col2 {
  0% {
    stroke: #8a9b0f;
  }
  25% {
    stroke: #f8ca00;
  }
  50% {
    stroke: #e97f02;
  }
  75% {
    stroke: #bd1550;
  }
  100% {
    stroke: #490a3d;
  }
}

/* timer 3 */
#countdown3 {
  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
}
#countdown3::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font: 5em/2 ubuntu mono, consolas, monaco, monospace;
  animation: num3 60s steps(1) infinite;
  content: "0:" counter(s, decimal-leading-zero);
}

@keyframes num3 {
  0% {
    counter-reset: s 60;
  }
  2% {
    counter-reset: s 59;
  }
  3% {
    counter-reset: s 58;
  }
  5% {
    counter-reset: s 57;
  }
  7% {
    counter-reset: s 56;
  }
  8% {
    counter-reset: s 55;
  }
  10% {
    counter-reset: s 54;
  }
  12% {
    counter-reset: s 53;
  }
  13% {
    counter-reset: s 52;
  }
  15% {
    counter-reset: s 51;
  }
  17% {
    counter-reset: s 50;
  }
  18% {
    counter-reset: s 49;
  }
  19% {
    counter-reset: s 48;
  }
  20% {
    counter-reset: s 47;
  }
  21% {
    counter-reset: s 46;
  }
  23% {
    counter-reset: s 45;
  }
  25% {
    counter-reset: s 44;
  }
  26% {
    counter-reset: s 43;
  }
  28% {
    counter-reset: s 42;
  }
  29% {
    counter-reset: s 41;
  }
  30% {
    counter-reset: s 40;
  }
  31% {
    counter-reset: s 39;
  }
  33% {
    counter-reset: s 38;
  }
  35% {
    counter-reset: s 37;
  }
  37% {
    counter-reset: s 36;
  }
  38% {
    counter-reset: s 35;
  }
  40% {
    counter-reset: s 34;
  }
  43% {
    counter-reset: s 33;
  }
  45% {
    counter-reset: s 32;
  }
  47% {
    counter-reset: s 31;
  }
  49% {
    counter-reset: s 30;
  }
  50% {
    counter-reset: s 29;
  }
  52% {
    counter-reset: s 28;
  }
  53% {
    counter-reset: s 27;
  }
  55% {
    counter-reset: s 26;
  }
  58% {
    counter-reset: s 25;
  }
  59% {
    counter-reset: s 24;
  }
  60% {
    counter-reset: s 23;
  }
  62% {
    counter-reset: s 22;
  }
  64% {
    counter-reset: s 21;
  }
  66% {
    counter-reset: s 20;
  }
  67% {
    counter-reset: s 19;
  }
  69% {
    counter-reset: s 18;
  }
  71% {
    counter-reset: s 17;
  }
  73% {
    counter-reset: s 16;
  }
  75% {
    counter-reset: s 15;
  }
  76% {
    counter-reset: s 14;
  }
  78% {
    counter-reset: s 13;
  }
  80% {
    counter-reset: s 12;
  }
  81% {
    counter-reset: s 11;
  }
  83% {
    counter-reset: s 10;
  }
  84% {
    counter-reset: s 9;
  }
  86% {
    counter-reset: s 8;
  }
  88% {
    counter-reset: s 7;
  }
  89% {
    counter-reset: s 6;
  }
  91% {
    counter-reset: s 5;
  }
  93% {
    counter-reset: s 4;
  }
  94% {
    counter-reset: s 3;
  }
  96% {
    counter-reset: s 2;
  }
  98% {
    counter-reset: s 1;
  }
  100% {
    counter-reset: s 0;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke: #8a9b0f;
  animation: arc3 60s linear infinite;
  animation-name: arc3, col3;
}

@keyframes arc3 {
  0% {
    stroke-dashoffset: 0px;
  }
}
@keyframes col3 {
  0% {
    stroke: #8a9b0f;
  }
  25% {
    stroke: #f8ca00;
  }
  50% {
    stroke: #e97f02;
  }
  75% {
    stroke: #bd1550;
  }
  100% {
    stroke: #490a3d;
  }
}