.add-button {
    color: #B22222 !important;
    background-color: #FFCC33 !important;
    font-weight: bold !important;
}

.add-button:hover {
    color: #FFCC33 !important;
    background-color: green !important;
}