
 .container {
  min-height: 80vh;
  max-width: 600px;
  margin: 0 auto;
}

.form-control,
#firstName,
#lastName,
#userName,
#email,
#pwd,
#age,
#weight,
#height {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

button[type="submit"]:hover {
  background-color: #0058a3;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
} 

.signup-submit {
  background-color: #B31B1B !important;
}

.signup-submit:hover {
  background-color: #7C0902 !important;
}

.signup-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.goto-login {
  font-weight: bold;
  color: #B31B1B !important;
}

/*When screen width reaches 768px, page will rearrange direction and styling of the page so the user can read the content easier on smaller screen*/
@media screen and (max-width: 768px) {
  .signup-container {
    width: 350px;
 }

}