/* Set background color and border radius for entire page */
body {
    background-color: #fff;
    border-radius: 20px;
  }
  
  /* Set border radius and padding for section header */
  .section-header {
    border-radius: 10px;
    padding: 10px;
    background-color: #7C0902;
    color: #fff;
  }
  
  /* Set border radius for profile picture */
  img {
    border-radius: 50%;
  }
  
  /* Create two-column layout for exercise category and exercise list */
  .CategoryMenu,
  .WorkoutList {
    display: inline-block;
    width: 45%;
    margin: 1%;
    vertical-align: top;
  }
  
  /* Style exercise category */
  .CategoryMenu {
    background-color: #0099ff;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }
  
  /* Style exercise list */
  .WorkoutList {
    background-color: #33cc33;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }

  
  
  /* Style button to add workout */
  .Button {
    background-color: #0099ff;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  /* Style modal */
  .Modal {
    border-radius: 20px;
  }
  
  /* Style modal header */
  .Modal.Header {
    background-color: #0099ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
  }
  
  /* Style modal title */
  .Modal.Title {
    color: #fff;
  }
  
  /* Style modal body */
  .Modal.Body {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  /* Style modal footer */
  .Modal.Footer {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  /* Style button to close modal */
  .Button:hover {
    background-color: #fff;
    color: #0099ff;
    border-radius: 10px;
    border: 2px solid #0099ff;
  }
  
  /* MyPage component */
.my-page {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .section-header {
    font-size: 32px;
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .category-choose {
    margin: 1% 0;
  }
  
  .category-menu {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category-menu button {
    background-color: #7C0902;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .category-menu button:hover {
    background-color: green;
  }
  
  .add-workout {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  /*setting button color for adding workout*/


  .btn-primary {
    margin: 2% 0;
    --bs-btn-color: #F4F0EC !important;
    --bs-btn-bg: #B22222 !important;
    --bs-btn-border-color: #B22222 !important;

    --bs-btn-hover-bg: #FFBA00 !important;
    --bs-btn-hover-border-color: #FFBA00 !important;

    --bs-btn-active-bg: #7C0902 !important;
    --bs-btn-active-border-color: #7C0902 !important; 
    --bs-btn-disabled-bg: #7C0902 !important;
    --bs-btn-disabled-border-color: #7C0902 !important;
  }

  .show-add-workout-modal {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    height: 6rem;
    width: 200px;
    --bs-btn-color: #B22222 !important;
    --bs-btn-bg: #FFCC33 !important;
    --bs-btn-border-color: #FFCC33 !important;

    --bs-btn-hover-color: #FFCC33 !important;
    --bs-btn-hover-bg: #8B0000 !important;
    --bs-btn-hover-border-color: #8B0000 !important;

  }

  /*.add-workout-btn {
    background-color: blue;
    border-radius: 50%;
    border: none;
    bottom: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50px;
  }
  */
  
  .add-workout-btn:hover {
    background-color: green;
  }

  .user-workouts {
    font-weight: bold;
  }

  .welcome {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
  }

  .welcome-user {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .update-profile {
    font-weight: bold !important;
    font-size: 1.3rem !important;
    height: 3rem;
    width: 250px;
  }

  .profile {
    text-align: center;
    border: 5px solid #B22222;
    padding: 0.8rem;
  }

  .profile li{
    list-style-type: none;
    font-weight: bold;
    font-size: 1.2rem ;
    color: #B22222;
  }